.gain {
    // box model
    padding: 25px;

    // visual
    background-image: url('./img/logo/logo-white.png');
    background-repeat: no-repeat;
}

.gain__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}