.hero {
    // box model
    height: 90vh;
    padding: 25px;

    // visual
    background-color: $black;
}

.hero__top {
    // box model
    margin-bottom: 150px;
}

.hero__contacts {
    // box model
    margin-top: -30px;
    
    // typography
    text-align: right;
}

.hero__content {

}

.hero__caption {

}

.hero__button {
    // typography
    text-align: center;
}

.hero__specify {
    // box model
    display: none;
}

.hero__form {
    // box model
    display: none;
}

