.logo {
    // box model
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    max-width: 300px;
}

.logo__image {
    // box model
    flex-shrink: 0;
    width: 75px;
}

.logo__image img {
    // box model
    width: 100%;
    height: 100%;
}

.logo__title {
    // box model
    margin: 0;
    margin-left: 15px;

    // typography
    color: $white;
    font-size: 0.75rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    line-height: 1.4;
    text-transform: uppercase;

    em {
        // typography
        color: $cardinal;
        font-style: normal;

        @include atTablet {
            // box model
            display: block;
        }
    }
}
