.logo {
    // box model
}

.logo__image {
    // box model
    width: 75px;
}

.logo__image img {
    // box model
    width: 100%;
    height: 100%;
}

.logo__title {
    // box model
    margin: 0;

    // typography
    color: $white;
    font-size: 0.75rem;
}

.logo__subtitle {
    // box model
    margin: 0;
    
    // typography
    color: $Cardinal;
    font-size: 1rem;
}